.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px 50px;
}
.cart-container{
    background-color: rgb(201, 201, 201);
    margin: 50px 0;
    border-radius: 18px 0px 0px 18px;
}
.cart{
    position: sticky;
    top: 0;
}
.cart-container .cart .random-item{
    font-weight: 600;
    font-size: 26px;
    width: 260px;
    border-radius: 4px;
    margin-left: 20px;
    color: rgb(242, 119, 24);
    background-color: rgb(201, 201, 201);
    padding: 10px 0px 0px 15px;
}
.cart .btn2{
    color: rgb(164, 19, 221);
    font-size: 22px;
    padding: 5px 10px;
    font-weight: 500;
    margin-top: 8px;
    margin-left: 30px;
    background-color: rgb(201, 201, 201);
    border: 1px solid rgba(121, 102, 102, 0.867);
    border-radius: 5px;
}
.cart .btn1{
    color: green;
    font-size: 22px;
    padding: 5px 10px;
    font-weight: 500;
    margin-top: 8px;
    margin-left: 30px;
    background-color: rgb(201, 201, 201);
    border: 1px solid rgba(121, 102, 102, 0.867);
    border-radius: 5px;
}
.cart-container h3{
    font-size: 26px;
    color: rgb(89, 63, 63);
    padding: 30px;
}
@media only screen and (max-width: 600px) {
    .products-container{
        grid-template-columns: repeat(1, 1fr);
    }
    
}
