.header{
    text-align: center;
}
.header h1{
    font-size: 62px;
    color: rgba(75, 48, 23, 0.741);
}
.header span{
    color: rgb(68, 39, 61);
}
.header h3{
    color: rgb(77, 66, 20);
    font-size: 34px;
}